@import url(//db.onlinewebfonts.com/c/ad26818d844de4534fd78bb03028ca79?family=Shopify+Sans+Web+Medium);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shopify Sans Web Medium", sans-serif;
  background-color: #fbf7ed;
}

.navbar,
.container {
  max-width: 1300px;
  margin: auto;
}

.container {
  padding: 0 1.5rem;
}

.navbar,
.navbar a {
  color: #42474c;
}

.navbar a:hover {
  text-decoration: none;
  color: #222;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0.75rem 0rem;
}

.bg-green {
  background: #004c3f;
  min-height: 150px;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 440px;
}

:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.alert {
  width: 100%;
}
.results-container,
.nominations-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  grid-gap: 1.3rem;
  width: 75%;
  padding-bottom: 80px;
}

.nominations {
  min-height: 78vh;
}

/* Nominations Summary */
.header-container-right {
  text-align: center;
  justify-content: right;
  padding-top: 50px;
}

.header-container-right h4,
.header-container-right .alert-success {
  max-width: 400px;
  align-self: flex-end;
  text-align: center;
  margin: auto 0 auto auto;
  padding: 0.7rem;
}

.header-container-right .alert-success {
  background: #004c3f;
  color: #fff;
}

/* Utility Classes */

h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

h2 {
  color: #fff;
  font-size: 2rem;
  padding: 3rem;
}

.card {
  height: 580px;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #fbf7ed;
}

.card img {
  position: static;
  top: 15px;
  left: 15px;
  width: 260px;
  height: 400px;
}

.nominations-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 50px;
}

.nomination-list-item {
  display: flex;
  justify-content: space-between;
  width: 400px;
  text-align: left;
  border: 1px;
  align-items: center;
  border-bottom: 2px solid #004c3f;
}

.nomination-list-item div {
  display: flex;
  align-items: center;
}

.nomination-list-item .btn {
  height: 30px;
  width: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn {
  color: #fff !important;
  border: none;
  margin: 5px;
  padding: 0.6rem 1rem;
}

.btn-success {
  background: #004c3f;
}

.btn-nominate {
  background: #004c3f;
}

.btn-small {
  margin: 0.2rem;
}

.btn-success:hover[disabled="false"] {
  background-color: #004c3f;
  transform: scale(1.02);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Footer Styles */
.footer {
  display: block;
  position: relative;
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 1.75rem;
  margin: 0;
}

.footer-icons {
  display: flex;
  flex-direction: row-reverse;
  position: absolute; 
  top: 1.5rem;
  right: 1rem;
}

.footer-icons ul {
  list-style-type: none;
  display: flex;
}

.footer-icons ul li a {
  color: #fff;
  padding: 0 1.2rem;
}

.footer-icons ul li a:hover {
  color: #aaa;
  transition: ease-in;
}

/* Media Queries */
/* Tablet */
@media(max-width: 1370px) {
  .navbar,
  .header-container-left,
  .header-container-right {
    padding: 0 1.5rem;
  }
  .results-container,
  .nominations-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 1024px) {
  .header-container {
    grid-template-columns: 1fr;
  }

  .header-container .header-container-left,
  .header-container .header-container-right {
    margin: auto;
  }

  .header-container-left h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .results-container,
  .nominations-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-container-left input {
    width: 100%;
    margin-bottom: 1rem;
  }  
}

/* Small tablet */
@media(max-width: 1150px) {  
  .footer,
  .footer-icons {
    display: block;
    margin: auto;
    text-align: center;
  }

  .footer-icons {
    position: relative;
    right: auto;
    width: 100%;
  }

  .footer-icons ul {
    justify-content: center;
  }
}


/* Mobile */
@media(max-width: 600px) {
  .header-container-left h1 {
    font-size: 2.2rem;
  }
  
  .nomination-list-item {
    max-width: 350px
  }
  .navbar{
    display: block;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }

  .nav-links li{
    margin: 1rem auto;
  }

  .btn {
    margin: 8px 0;
  }

  .btn-success,
  .btn-danger {
    width: 100%;
  }

  .results-container,
  .nominations-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    max-width: 380px;
    padding: 1rem;
    margin: auto;
  }

}
