@import url(//db.onlinewebfonts.com/c/ad26818d844de4534fd78bb03028ca79?family=Shopify+Sans+Web+Medium);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shopify Sans Web Medium", sans-serif;
  background-color: #fbf7ed;
}

.navbar,
.container {
  max-width: 1300px;
  margin: auto;
}

.navbar,
.navbar a {
  color: #42474c;
}

.navbar a:hover {
  text-decoration: none;
  color: #222;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0.75rem 1.5rem;
}

.bg-green {
  background: #004c3f;
  min-height: 400px;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.results-container,
.nominations-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  grid-gap: 1.3rem;
  width: 75%;
}

/* Nominations Summary */
.header-container-right {
  text-align: center;
  justify-content: right;
  padding-top: 50px;
}
/* Utility Classes */

h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

h2 {
  color: #fff;
  font-size: 2rem;
  padding: 3rem;
}

.card {
  height: 560px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #fbf7ed;
}

.card img {
  position: static;
  top: 15px;
  left: 15px;
  width: 260px;
  height: 400px;
}

.nominations-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nomination-list-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 400px;
  height: 120px;
  text-align: left;
  border: 1px;
  align-items: center;
  margin: 0.5rem;
  border-bottom: 2px solid #004c3f;
}

.nomination-list-item div {
  display: flex;
  align-items: center;
}

.nomination-list-item .btn {
  height: 30px;
  width: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.poster-sm {
  height: 60px;
}

.btn-success {
  background: #004c3f;
  color: #fff !important;
  border: none;
  padding: 0.6rem 1rem;
}

.btn-success:hover[disabled="false"] {
  background-color: #004c3f;
  transform: scale(1.02);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
