@import url(//db.onlinewebfonts.com/c/ad26818d844de4534fd78bb03028ca79?family=Shopify+Sans+Web+Medium);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Shopify Sans Web Medium", sans-serif;
  background-color: #fbf7ed;
}

.navbar,
.navbar a {
  color: #42474c;
}

.navbar a:hover {
  text-decoration: none;
  color: #222;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0.75rem 1.5rem;
}

.results-container,
.nominations-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}

.card img {
  width: 260px;
  height: 370px;
}

.btn-success {
  background: #004c3f;
  color: #fff !important;
  border: none;
  padding: 0.6rem 1rem;
}

.btn-success:hover[disabled="false"] {
  background-color: #004c3f;
  transform: scale(1.02);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
